body {
    background-color:rgb(230, 183, 235);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.input-holder {
    margin: auto;
    margin-left: 35%;
    margin-right: 35%;
    margin-top:40px;
    border: 3px solid black;
    padding: 10px;
}
.search-holder {
    display: grid;
    margin: auto;
    margin-left: 10%;
    margin-right: 10%;
    grid-template-columns: 50% 50%;
    column-gap: 25px;

}
.spotify {
    grid-column: 1;
    display:grid;
    grid-template-columns: 100%;
    row-gap: 10px;
}
.soundcloud {
    grid-column: 2;
    display:grid;
    grid-template-columns: 100%;
    row-gap: 10px;
}
.song-container {
    background-color:rgb(240, 212, 229);
    padding: 20px;
    border-radius: 25px;
    border: 1px solid #fff;

}
.id {
    grid-column: 1;
    grid-row: 1;
    color:black;
}
.song {
    grid-column:3;
    grid-row:1;
    color:black;
}
.artist {
    grid-column: 2;
    grid-row: 2;
    color:black;}
.link {
    color:black;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  

li a:hover {
    background-color: #111;
}
